#################
# Django config #
#################

# Secret key
# Used for cryptographic signing, primarily in session cookies
# Can be generated with websites like https://djecrety.ir
SECRET_KEY=abcdefghijklmnopqrstuvwxyz

# Debug mode
# TURN OFF IN PRODUCTION!
# Options: on, off
DEBUG=on

# Comma separated list of host/domain names this site will serve
ALLOWED_HOSTS=localhost,

# Database configuration
# SQLite: ENGINE=django.db.backends.sqlite3,NAME=./db.sqlite3
# MSSQL: ENGINE=mssql,NAME=db_name,HOST=127.0.0.1,USER=username,PASSWORD=password
# PostgreSQL: ENGINE=django.db.backends.postgresql_psycopg2,NAME=db_name,HOST=127.0.0.1,USER=username,PASSWORD=password
DATABASE=ENGINE=django.db.backends.sqlite3,NAME=./db.sqlite3

##################
# Logging config #
##################

# Logging level
# Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGGING_LEVEL=WARNING

# Log format
# Options: simple, verbose
LOG_FORMAT=verbose

# Enable file logging (console logging is always on)
# Options: off, <filename>
FILE_LOGGING=general.log
