<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row justify-content-center mt-1">
            <div class="col-lg-8">
                <p>I'm a senior in software engineering at Brigham Young University, graduating in April 2023. During my education I have had unique professional and personal experiences that have given me a broad and relevant skill set.</p>
                <p>I grew up in Austin, Texas, and I have four younger siblings. I enjoy playing volleyball and soccer, and take classes in them and play intramural sports when I can.</p>
            </div>
        </div>
    </div>
</section>
