{% load static %}

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Josh Bedwell</h1>
        <p><span class="typed" data-typed-items="Software Engineer, Researcher, Student, Developer"></span></p>
        <div class="mt-5 ms-1">
            <a href="https://www.linkedin.com/in/joshbedwell/" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/icons/linkedin-logo-white.png' %}" alt="" class="img-fluid"></a>
        </div>
        <div class="mt-3">
            <a href="https://github.com/rcxwhiz" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/icons/github-logo-white.png' %}" alt="" class="img-fluid"></a>
        </div>
    </div>
</section>
