{% load static %}

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
        </div>

        <div class="row">

            {# website #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon-box">
                    <div class="d-flex justify-content-center">
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/django-icon.svg' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <h4 class="mt-3">joshbedwell.com</h4>
                    <p>This website is written in Python using Django. It is hosted using NGINX and Gunicorn.</p>
                    <h5 class="mt-3"><a href="https://github.com/rcxwhiz/website2023" target="_blank" rel="noopener noreferrer">GitHub</a></h5>
                </div>
            </div>

            {# partners personnel #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon-box">
                    <div class="d-flex justify-content-center">
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/django-icon.svg' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <h4 class="mt-3">Partners Personnel Payroll</h4>
                    <p>For a senior year class project we worked with an employment agency which was handling their clients' payroll with cumbersome Microsoft Access solutions. We created a Django web app for them which contains a framework for defining data pipelines which are created and saved by users and can process files.</p>
                </div>
            </div>

            {# stapl website #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">

                <div class="icon-box">
                    <div class="d-flex justify-content-center">
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/django-icon.svg' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <h4 class="mt-3">STaPL website</h4>
                    <p>I created a website for the BYU Social Technology and Privacy Lab using Django which can easily be managed through edited.</p>
                </div>
            </div>

            {# real mouse #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <img width="72" height="72" src="{% static 'img/icons/swiftui-icon.svg' %}" alt="">
                    <h4 class="mt-3">Real Mouse</h4>
                    <p>An application written in SwiftUI that solves some annoyances of using third party mice on macOS, ex. forward and back buttons, separate scroll directions and separate acceleration settings for trackpad and mouse.</p>
                    <h5 class="mt-3"><a href="https://github.com/rcxwhiz/realmouse" target="_blank" rel="noopener noreferrer">GitHub</a></h5>
                </div>
            </div>

            {# snip snap #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="d-flex justify-content-center">
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/swiftui-icon.svg' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/aws-icon.svg' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/rust-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <h4 class="mt-3">SnipSnap</h4>
                    <p>A prototype iOS messaging app I made which had a Rust/AWS Lambda backend using Sign In With Apple for authentication.</p>
                </div>
            </div>

            {# farkle bot #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="d-flex justify-content-center">
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/javascript-icon.png' %}" alt="">
                        </div>
                        <div class="px-3">
                            <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <h4 class="mt-3">Farkle Bot</h4>
                    <p>An optimized AI that advises you on the best move to make in the dice game Farkle.</p>
                </div>
            </div>

            {# color pallete generator #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                    <h4 class="mt-3">Color Palette Generator</h4>
                    <p>A Python script that generates an aesthetically pleasing color palette from an image by analysing the distribution of colors in the image.</p>
                    <h5 class="mt-3"><a href="https://github.com/rcxwhiz/colorpalette" target="_blank" rel="noopener noreferrer">GitHub</a></h5>
                </div>
            </div>

            {# byu vulnerability #}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <img width="72" height="72" src="{% static 'img/icons/python-icon.svg' %}" alt="">
                    <h4 class="mt-3">BYU Vulnerability</h4>
                    <p>A demonstration of a vulnerability I discovered in the BYU registrar's website that leaked sensitive instructor information. The issue was patched after I sent the demo to the BYU web developers.</p>
                    <h5 class="mt-3"><a href="https://github.com/rcxwhiz/byu-lookup" target="_blank" rel="noopener noreferrer">GitHub</a></h5>
                </div>
            </div>

        </div>

    </div>
</section>
