{% load static %}

<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <div class="resume-title">
                <h5><a href="{% static 'Josh Bedwell Resume.pdf' %}" download="Josh Bedwell Resume.pdf">Download as PDF</a>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <h3 class="resume-title">Contact</h3>
                <div class="resume-item pb-0">
                    <h4>Josh Bedwell</h4>
                    <ul>
                        <li>Orem, UT 84058</li>
                        <li><a href="tel:512-865-9936">(512) 865-9936</a></li>
                        <li><a href="mailto:joshbedwell01@gmail.com">joshbedwell01@gmail.com</a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Science, Computer Science, <em>Emphasis in Software Engineering</em></h4>
                    <h5>Apr 2023</h5>
                    <p><em>Brigham Young University, Provo, UT</em></p>
                    <p><em>Major GPA: 3.38</em></p>
                </div>

                <div class="resume-item">
                    <h4>Associate in Science</h4>
                    <h5>May 2021</h5>
                    <p><em>Utah Valley University, Orem, UT</em></p>
                    <p><em>GPA: 3.42</em></p>
                </div>

                <h3 class="resume-title">Skills</h3>
                <div class="resume-item">
                    <h4>Languages</h4>
                    <ul>
                        <li>C/C++</li>
                        <li>Python</li>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>Swift</li>
                        <li>HTML/CSS</li>
                        <li>Rust</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Frameworks &amp; Tools</h4>
                    <ul>
                        <li>Django</li>
                        <li>Maven/Gradle</li>
                        <li>CMake</li>
                        <li>Git/Github</li>
                        <li>AWS Lambda/DynamoDb/API Gateway/etc.</li>
                        <li>SwiftUI</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>

                <div class="resume-item">
                    <h4>Research Assistant</h4>
                    <h5>Apr 2021 - Present</h5>
                    <p><em>BYU Social Technology And Privacy Lab - Provo, UT </em></p>
                    <ul>
                        <li>Conducted data analysis using NLP to gain insights into user behavior</li>
                        <li>Developed privacy centered software prototypes</li>
                        <li>Designed and implemented lab website using Django</li>
                        <li>Co-authored two academic papers currently under revision about cross-cultural interactions and neurodiverse users</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Research Assistant</h4>
                    <h5>Dec 2020 - Aug 2021</h5>
                    <p><em>BYU Chemical Engineering - Provo, UT</em></p>
                    <ul>
                        <li>Author of one academic paper under revision</li>
                        <li>Rewrote and optimized scientific simulation libraries in C++</li>
                        <li>Designed useful and ergonomic structure and API</li>
                        <li>Implemented automatic testing using Google Test</li>
                    </ul>
                </div>

                <div class="resume-item">
                    <h4>Teacher's Assistant</h4>
                    <h5>Jan 2019 - Dec 2020</h5>
                    <p><em>BYU Chemical Engineering &amp; BYU Computer Science - Provo, UT</em></p>
                    <ul>
                        <li>Assisted students in data structures & algorithms, discrete structures, and numerical tools courses</li>
                        <li>Taught advanced C++ programming, including classes, memory management, and optimization</li>
                        <li>Instructed students on scientific computing and data analysis in Python</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
